/* ** SECTION LIGHT ** */
.section-light {
   background-color: #f0f0f0;

   @media (min-width: 700px) {
      .row {
         display: flex;
         justify-content: space-between;
         align-items: last baseline;
      }

      .col + .col {
         margin-left: $mleft;
      }
   }
}
