/* ** VARIABLES ** */
:root {
   --clr-primary-300: hsl(276, 100%, 81%);
   --clr-primary-400: hsl(276, 55%, 52%);

   --clr-neutral-100: hsl(0, 0%, 100%);
   --clr-neutral-400: hsl(270, 7%, 64%);
   --clr-neutral-500: hsl(271, 15%, 43%);
   --clr-neutral-600: hsl(271, 36%, 24%);

   /* the design specs list these as secondary  */
   --clr-secondary-100: hsl(264, 24%, 96%);
   --clr-secondary-200: hsl(272, 41%, 93%);
   --clr-secondary-400: hsl(206, 6%, 79%);
   --clr-secondary-500: hsl(271, 36%, 24%);
   --clr-secondary-600: hsl(289, 100%, 72%);
}
