a[target="_blank"]::after {
   content: url(/assets/External_link_font_awesome.svg);
   display: inline-block;
   margin-left: 0.2em;
   width: 1em;
   height: 1em;
   vertical-align: sub;
}

.skip-link {
   border: 0;
   clip: rect(1px, 1px, 1px, 1px);
   clip-path: inset(50%);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute !important;
   width: 1px;
   word-wrap: normal !important;
}

.skip-link:focus {
   background-color: #f1f1f1;
   border-radius: 3px;
   box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
   clip: auto !important;
   clip-path: none;
   color: black;
   display: block;
   font-size: 0.875rem;
   font-size: 14px;
   font-weight: bold;
   height: auto;
   left: 5px;
   line-height: normal;
   padding: 15px 23px 14px;
   text-decoration: none;
   top: 5px;
   width: auto;
   z-index: 100000;
}

.screen-reader-only {
   position: absolute;
   width: 1px;
   clip: rect(0 0 0 0);
   overflow: hidden;
   white-space: nowrap;
}
