/* ** TABLE OF CONTENT ** */
/* ********************** */
/* ** FONTS            ** */
/* ** VARIABLES        ** */
/* ** RESETS           ** */
/* ** DARKMODE         ** */
/* ** ACCESSIBILITY    ** */
/* ** DIEXPLORER       ** */
/* ** COMPONENTS       ** */
/* ** HEADER           ** */
/* ** NAVIGATION       ** */
/* ** GENERAL STYLING  ** */
/* ** FOOTER           ** */
/* ********************** */
/**/
/* ** FONTS ** */
@font-face {
   font-family: "Alata";
   src: url("../loopstudios-landing-page/assets/fonts/Alata-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Josefin Sans";
   src: url("../loopstudios-landing-page/assets/fonts/JosefinSans-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
}
