/* ** GENERAL STYLING ** */
body {
   overflow-x: hidden;
}

body {
   color: var(--clr-200);
   font-family: var(--ff-base);
   font-size: 0.9375rem;
}

h1,
h2,
h3 {
   font-family: var(--ff-accent);
   text-transform: uppercase;
   line-height: 1.1;
   font-weight: var(--fw-accent);
}

a[class] {
   color: var(currentColor);
}

nav a,
.social a {
   padding-bottom: 0.5em;
}

.social img {
   height: 24px;
}

.nav-list__item {
   cursor: pointer;
   margin-top: 1.5rem;
   @media (min-width: 56em) {
      margin-top: 0;
   }
}

nav a:after,
nav a:after,
.social a:after,
.social a:after {
   content: "";
   display: block;
   margin-inline: auto;
   // margin-top: 0.5rem;
   height: 2px;
   width: 0px;
   background-color: transparent;
   transition: width 250ms ease;

   @media (min-width: 56em) {
      margin-top: 0.5rem;
   }
}

.nav-list__item:hover a:after,
.nav-list__item:focus a:after,
.social a:hover:after,
.social a:focus:after {
   background-color: currentColor;
   width: 24px;
}

header .nav-list__item:hover a:after,
header .nav-list__item:focus a:after {
   @media (max-width: 56em) {
      margin-left: unset;
      width: 50px;
   }
}

.attribution {
   font-size: 0.625rem;
   text-align: center;
   background-color: var(--clr-900);
}
.attribution a {
   color: white;
}

section {
   margin: 5rem 0 2em;
   @media (min-width: 56em) {
      margin: 8rem 0;
   }
}

.grid {
   display: grid;
}

.subhero .grid {
   grid-template-columns: repeat(6, 1fr);
   gap: 1.5em;
}

.subhero__image {
   grid-column: 1 / -1;
   margin: 0 auto;
   @media (min-width: 56em) {
      grid-column: 1 / 5;
      grid-row: 1 / 2;
   }
}

.subhero__textbox {
   background-color: var(--clr-100);
   grid-column: 1 / -1;
   padding-top: 1em;
   text-align: center;

   @media (min-width: 56em) {
      margin-top: auto;
      margin-bottom: -1px;
      padding: 4em 0 0.5em 4em;
      grid-column: 4 / -1;
      grid-row: 1 / 2;
      text-align: left;
   }

   h2 {
      font-size: 1.5rem;
      color: var(--clr-900);
      margin-bottom: 1em;
      @media (min-width: 56em) {
         font-size: 2.1rem;
      }
   }

   p {
      font-size: 0.75rem;
      line-height: 1.8;
   }
}

.creations-section {
   .grid {
      grid-template-columns: 1fr max-content;
      grid-template-rows: repeat(3, min-content);
   }
   .section-header {
      grid-row: 1 / 2;
      font-size: 2.2rem;
      text-align: center;
      color: var(--clr-900);
      @media (min-width: 56em) {
         text-align: left;
      }
   }
   .btn {
      grid-row: 3 / -1;
      margin-inline: auto;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      line-height: 3;
      font-size: 0.75rem;
      border: 1px solid currentColor;
      padding-inline: 3em;
      @media (min-width: 56em) {
         grid-row: 1 / 2;
      }
   }
   .creations {
      grid-row: 2 / 3;
   }

   .section-header {
      margin-block: 3rem;
   }
   .btn {
      margin-top: 3rem;
      @media (min-width: 56em) {
         margin-block: 3rem;
      }
   }
}

.creations {
   display: grid;
   grid-template-rows: repeat(4, 150px);
   grid-auto-rows: 150px;
   gap: 1.5rem;

   @media (min-width: 56em) {
      grid-column: 1 / -1;
      grid-template-rows: 22rem;
      grid-auto-rows: 22rem;
   }
}

.creation {
   padding-top: 2em;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   font-family: var(--ff-accent);
   text-transform: uppercase;

   line-height: 1;
   padding-bottom: 0.5em;
   padding-left: 0.5em;
   color: var(--clr-100);
   position: relative;
   cursor: pointer;
   transition: color 250ms ease, background-size 250ms ease;

   &__title {
      position: absolute;
      bottom: 0.8em;
      left: 0.8em;
      font-size: 1.7rem;
   }

   &:hover,
   &:focus {
      color: var(--clr-300);
   }
}

.creation:nth-of-type(1) {
   background-image: url("../img/mobile/image-deep-earth.jpg");
}

.creation:nth-of-type(2) {
   background-image: url("../img/mobile/image-night-arcade.jpg");
}
.creation:nth-of-type(3) {
   background-image: url("../img/mobile/image-soccer-team.jpg");
}
.creation:nth-of-type(4) {
   background-image: url("../img/mobile/image-grid.jpg");
}
.creation:nth-of-type(5) {
   background-image: url("../img/mobile/image-from-above.jpg");
}
.creation:nth-of-type(6) {
   background-image: url("../img/mobile/image-pocket-borealis.jpg");
}
.creation:nth-of-type(7) {
   background-image: url("../img/mobile/image-curiosity.jpg");
}
.creation:nth-of-type(8) {
   background-image: url("../img/mobile/image-fisheye.jpg");
}

.creation {
   position: relative;
}

.creation::before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   height: 100%;
   background-image: var(--gradient1);
}

.creation__overlay {
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   background-color: rgba(255, 255, 255, 0);
   transition: background-color 250ms ease;
}

.creation:hover .creation__overlay {
   background-color: rgba(255, 255, 255, 0.7);
}

@media (min-width: 56em) {
   .creations {
      grid-template-columns: repeat(4, 1fr);
   }

   .creation {
      background-size: auto 100%;

      &:hover,
      &:focus {
         background-size: auto 110%;
      }
   }

   .creation:nth-of-type(1) {
      background-image: url("../img/desktop/image-deep-earth.jpg");
   }
   .creation:nth-of-type(2) {
      background-image: url("../img/desktop/image-night-arcade.jpg");
   }
   .creation:nth-of-type(3) {
      background-image: url("../img/desktop/image-soccer-team.jpg");
   }
   .creation:nth-of-type(4) {
      background-image: url("../img/desktop/image-grid.jpg");
   }
   .creation:nth-of-type(5) {
      background-image: url("../img/desktop/image-from-above.jpg");
   }
   .creation:nth-of-type(6) {
      background-image: url("../img/desktop/image-pocket-borealis.jpg");
   }
   .creation:nth-of-type(7) {
      background-image: url("../img/desktop/image-curiosity.jpg");
   }
   .creation:nth-of-type(8) {
      background-image: url("../img/desktop/image-fisheye.jpg");
   }

   .creation::before {
      background-image: var(--gradient2);
   }
}
