/* ** HEADER ** */
.hero {
   background-image: url("../img/mobile/image-hero.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
   color: var(--clr-100);
   min-height: 100vh;
   display: flex;
   align-items: center;
   position: relative;

   &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 100%;
      background-image: var(--gradient3);
   }

   @media (min-width: 56em) {
      min-height: 0;
      display: block;
      padding-bottom: 2em;
   }
   @media (min-width: 56em) {
      .hero__headline {
         font-size: 3.8em;
      }
   }
   .container {
      width: 100%;
      margin: auto 2rem;

      @media (min-width: 56em) {
         width: 90%;
         margin: 0 auto;
      }
   }

   @media (min-width: 56em) {
      background-image: url("../img/desktop/image-hero.jpg");
   }
}

.hero__content-box {
   border: 2px solid white;
   padding: 1.3em;
   max-width: 350px;
   position: relative;
   z-index: 2;
   @media (min-width: 56em) {
      margin: 6rem 0;
      max-width: 500px;
   }
}
