/* ** NAVIGATION ** */
.header__nav {
   @media (min-width: 56em) {
      display: flex;
      justify-content: space-between;
   }
}

.hero nav {
   position: absolute;
   background-color: var(--clr-900);
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   transform: translateX(100vw);
   // transition: all 250ms ease-in-out;
   // display: none;
   // visibility: hidden;

   @media (min-width: 56em) {
      position: static;
      background-color: unset;
      transform: translateX(0);
   }

   .nav-list__item {
      width: max-content;
   }
}

.hero .nav-list {
   display: flex;
   flex-direction: column;
   font-family: var(--ff-accent);
   font-size: 2rem;
   font-weight: var(--fw-accent);
   text-transform: uppercase;
   margin-top: 2em;

   @media (min-width: 56em) {
      flex-direction: row;
      font-size: 0.8rem;
      text-transform: initial;
      gap: 0 1em;
      font-family: var(--ff-base);
      font-weight: var(--fw-base);
   }

   a {
      text-decoration: none;
   }
}

.hero .logo {
   position: absolute;
   top: 2rem;
   left: 2rem;
   z-index: 10;

   @media (min-width: 56em) {
      position: static;
      margin: 2em 0 1em;
   }
}

.close {
   position: absolute;
   right: 2em;
   top: 2.5em;
   @media (min-width: 56em) {
      display: none;
   }
}

.hamburger {
   position: absolute;
   right: 2em;
   top: 2.5em;
   @media (min-width: 56em) {
      display: none;
   }
}

@media (max-width: 56em) {
   .hero .nav--visible {
      animation-name: showNav;
      animation-duration: 250ms;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      z-index: 3;
   }

   .hero .nav {
      display: none;
      visibility: hidden;
   }

   .hero .nav--hidden {
      animation-name: hideNav;
      animation-duration: 250ms;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
   }
}

@keyframes showNav {
   0% {
      transform: translateX(100vw);
   }
   1% {
      display: flex;
      visibility: visible;
   }
   100% {
      transform: translateX(0);
   }
}

@keyframes hideNav {
   0% {
      transform: translateX(0);
      z-index: 3;
   }
   99% {
      transform: translateX(100vw);
   }
   100% {
      display: none;
      visibility: hidden;
   }
}
